server:
  port: 8080

spring:
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        model: llama3.2

google:
  calendar:
    credentials-file: classpath:credentials.json
    tokens-dir: ./tokens
    user: mike
